$navbar_margin: 20px;

.navbar {
  display: flex;
  width: 100vw;
  height: 50px;
  align-items: center;
  background:rgb(156, 255, 156);
  background: orange;
  justify-content: space-between;

  .navbar_left {
    margin-left: $navbar_margin;
    padding: 3px 6px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
    cursor: pointer;

    &:hover {
      background: #fff;
    }

    .link {
      text-decoration: none;
      color: rgba(0,0,0,.6);
    }
  }

  .navbar_right {
    display: flex;
    height: 100%;
    align-items: center;

    .navbar_links {
      display: block;
      text-align: center;
      height: 50%;
    }

    .img_wrapper {
      padding: 5px;
      align-self: stretch;
    }
  }
}

img {
  width: 100%;
  height: 100%;
}

.img_wrapper {
  cursor: pointer;
}

.img_wrapper:before {
  content: "";
  padding-top: 100%;
  float: left;
}

.button {
  cursor: pointer;
  margin-right: $navbar_margin;
  padding: 3px 6px;
  width:60px;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
  border-radius: 3px;
  color: rgba(0,0,0,.6);
  text-shadow: 0 1px 1px rgba(255,255,255,.7);
  box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.button:hover {
  background: #fff;
}
.button:active {
  background: #d0d3d6;
  background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
  box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}