@font-face {
	font-family: 'default-font';
	font-style: normal;
	font-weight: bold;
	//src: url('@fonts/Montserrat-ExtraBold.ttf') format('truetype');
	src: url('../static/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

